* {
    margin: 0px;
}
body {
    font-family:  Lato ;
}
.btn-primary {
    padding: 20px 43px;     
    align-items: center;
    gap: 10px;
    background: #E55473;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;

}

.header {
    background: rgba(229, 84, 115, 0.10);
   padding-bottom: 0;
}
.banner {
    padding:  50px 120px 0px 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    max-width: 550px ;
    
}
.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}
.banner-img {
    height: 500px;
    width: 400px;

}
main section {
    margin-top: 100px;
}

.section-title {
    color: #272727;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
}
.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.feature-flower {
    margin: 0 240px 0px 240px;
    padding: 100px;
    align-items: center;
    text-align: center;
}

.feature-flower-container {
    display: flex;
    justify-content: space-around;
    gap:15px;
    margin-top: 20px;
}
.feature-image1 {
    height: 450px ;
    width:350px ;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url(image/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.feature-image2 {
    height: 450px ;
    width:350px ;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url(image/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.feature-image3 {
    height: 450px ;
    width:350px ;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 300px 300px 0px 0px;
    background-color:  lightgray ;
    background-image: url(image/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.feature-image-description {
    margin-top: 10px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.support-section {
    margin: 0 205px;
    padding: 80px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
}

.support-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.support-section-info {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.special-offer {
    padding: 50px 140px 50px 260px;
    background: rgba(229, 84, 115, 0.05);

}

.special-offer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special-offer-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}
.special-offer-description {
    margin-top: 20px ;
    width: 450px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.btn-align {
    margin: 20px 0px 0px 170px;
}
.social-image {
    margin: 0 240px 0px 240px;
    padding: 100px;
    align-items: center;
    text-align: center;
}
.social-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.social-image-container {
    display: flex;
    justify-content:space-around;
    gap:15px;
    margin-top: 20px;
}
.image-cart {
   height: 300px;
   width: 250px;
}

.subscribtion-content {
    margin: 0 145px 0px 145px;
    padding: 100px 0px 0px 0px ;
    align-items: center;
    text-align: center;
    background-image: url(image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 200px;
    
}
.subscribtion-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.subscribtion-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18 px;
    font-weight: 400;
    margin-top: 15px;
}
.subscribtion-input-box {
    width: 600px;
    height:50px ;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;

}

.new-collection {
    margin: 0px;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.new-image-container {
    display: flex;
    margin: 30px 240px 100px 240px;
    justify-content: space-between;
    align-items: center;
}
.new-image-cart {
    height: 300px;
    width: 250px;
    border: 0;
    border-radius: 80px 80px;
}
.image-name{
    margin-top: 10px;
    font-size: 18px;
    
}

.footer-section {
    margin-top: 100px;
    background: #111010;
    align-items: center;
    text-align: center;
    padding: 100px;

}
 .footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
   
    margin: 10px 280px 0px 280px;
}
.footer-date {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 280px 0px 280px;
}
